<a href="https://colab.research.google.com/github/jnrtnan/Numerical_Methods_-58012/blob/main/Control_and_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##If Statement

a = 12 
b = 100
if b>a:
  print("b is greater than a")

b is greater than a

In [4]:
a = 100
b = 10

if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

In [5]:
##Else Statement

if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [6]:
##Short Hand If Statement

if a>b:print("a is greater than b")

a is greater than b

In [10]:
##Short Hand If Statement.. Else Statement 
print("b is greater than a") if b>a else print("a is graeter than b")

a is graeter than b

In [16]:
##And - if both conditions are true

a = 100
b = 10
c = 45

if a>b and c>b:
  print("Both conditions are true")

Both conditions are true

In [14]:
##Or - if one of the conditions are true
if a>b or b>c:
  print("one of the conditions are true")

one of the conditions are true

In [25]:
##Nested if

x = int(input())

if x > 10:
  print("x is Above ten,")

  if x > 20:
    print("x is Also above 20,")

    if x > 30:
      print("x is Also above 30!")

      if x > 40:
        print("x is Also above 40!")

        if x>50:
          print("x is also above 50")

else:
  print("x is below 10")

80000
x is Above ten,
x is Also above 20,
x is Also above 30!
x is Also above 40!
x is also above 50

In [29]:
 ##Application 1

 student_age = int(input())

 if student_age>=18:
   print("You are qualified to vote!")
else:
  print("You are not qualified to vote!")

2
You are not qualified to vote!

In [34]:
##Application 2

number = int(input())

if number>0:
  print("Positive number")

if number==0:
  print("Number is zero")

if number<0:
  print("Number is negative")

2
Positive number

In [40]:
##Application 3

grade = int(input())

if grade>=70:
  print("Passed")
elif grade in range(64,69):
  print("Remedial")
elif grade<69:
  print("Failed")

65
Remedial

In [42]:
##For Loop

week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [44]:
for x in week:
  print(x)

  if x =="Friday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

In [46]:
##Looping through a String

for x in "week":
  print(x)

w
e
e
k

In [59]:
##Range() Function
for x in range(6):
  print(x)


for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [62]:
##While loop

i = 1

while i<=15:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [63]:
##While break 
i = 1

while i<=15:
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [67]:
##While continue
i = 0

while i<15:
  i+=1
  if i ==3:
    continue
  print(i)

1
2
4
5
6
7
8
9
10
11
12
13
14
15